<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/flavicon/TheShade.png" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <img class="site-icon" src="/assets/images/flavicon/TheShade.png" alt="Site Icon">
      <h1><a href="/">{{ site.title }}</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/blog.html">Blog</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
        <a href="https://github.com/AndrewJMart" target="_blank">GitHub</a> •
        <a href="https://www.linkedin.com/in/andrewjmart" target="_blank">LinkedIn</a> •
        <a href="https://x.com/AndrewJMartOnX" target="_blank">Twitter/X</a>
      </p>
      <p>© 2025 Andrew Martinez</p>
    </footer>
  </body>
</html>